body
{
    background-color : #888888 ;
    margin : auto ;
    min-width : 1009px ;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||- Banniere du site -||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

header
{
    background-image : url("images/fond/banniere1.jpeg") ;
    background-position : 0px -30px ;
    height : 150px ;
    width : 100% ;
    min-width : 1009px ;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||- Menu de Gauche de la Page -||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||- Contenant des données de la Page -|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*#contenu, nav
{
    display: inline-block;
    
    border: 1px solid black;
    
    vertical-align: top;
    padding: 5px;
    margin-bottom: 2%;
}
nav
{
    width: 20%;
    margin-right: 2.5%;
}
nav ul
{
    list-style-type: none;
}
section
{
    width: 75%;
}
footer
{
    border: 1px solid black;
    text-align: center;
}
h1
{
    text-align: center;
    color : blue;
}
h2
{
    text-align: center;
    color: red;
}
p
{
    text-align: justify;
}*/
